<div class="backimg">



  <div class="main_nav">
      <img class="logo" src="../assets/images/marque-img.png">

    <a href="#" class="link" routerLink="/TruckList" routerLinkActive="Active">Trucks Info</a>
    <a href="#" class="link">About</a>
    <a href="#" class="link">Gallery</a>
    <a href="#" class="link">Contact</a>
  </div>  
   

  <!-- <div class="topic"><h1><span >FOOD TRUCK</span></h1></div> -->

</div>

<div class="cards">
  <div class="class_item">
    <img src="../assets/images/mainimg.jpg">
  </div>
  <div class="class_item">
    <img src="../assets/images/mainimg.jpg">

  </div>
  <div class="class_item">
    <img src="../assets/images/mainimg.jpg">

  </div>
  <div class="class_item">
    <img src="../assets/images/mainimg.jpg">

  </div>
</div>
<div  class="result">
<router-outlet></router-outlet>
</div>
<div class="detail"> 
<div class="details" id="1detail">
 <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
 Eum ducimus harum voluptate sed, consequatur praesentium consectetur, 
 voluptates autem laudantium quo dignissimos! Exercitationem sed natus aliquid dignissimos
  velit non atque? Deserunt.</p>
 
</div>
<div class="details" id="2detail">
  <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
 Eum ducimus harum voluptate sed, consequatur praesentium consectetur, 
 voluptates autem laudantium quo dignissimos! Exercitationem sed natus aliquid dignissimos
  velit non atque? Deserunt.</p>
</div>
<div class="details" id="3detail">
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
 Eum ducimus harum voluptate sed, consequatur praesentium consectetur, 
 voluptates autem laudantium quo dignissimos! Exercitationem sed natus aliquid dignissimos
  velit non atque? Deserunt.</p>
</div>
</div>

<div class="footer">
  <h1>@copyright</h1>
</div>
